.drag-item{
    opacity: 1;
        background-color: #bed2f7;
        min-height: 120px;
        border: 2px solid transparent;
        border-radius: 5px;
        margin: 4px;
        position: relative;
}

.title{
    font-weight: 600;
    font-size: large;
    position: relative;
}

.time-icon {
    height: '20px';
    position: absolute;
    left: '10px'
}

.date-container {
    position: absolute;
    bottom: 5px;
    margin-bottom: -4px;
    font-weight: 400;
    font-size: medium;
}

.three-dot-icon {
    height: '20px';
    position: absolute; 
    right: '20px'
}

.date{
    margin-bottom: -4px;
}

.description{
    font-weight: 400;
    font-size: medium;
}