.menuContainer{
    position: absolute;
    right: -70px;
    width: 80px;
    border: 0.5px solid grey;
    border-radius: 5%;
}
.menuItem, .menuItemDelete {
    height: 30px;
    /* right: -50px; */
    background: white;
    color: black;
    align-content: center;
    border: 0.5px solid grey;
    border-radius: 5%;
    padding-left: 10px;
    cursor: pointer;

}
.menuItem:hover {
    background-color: rgb(223, 220, 220);
}

.menuItemDelete:hover {
    background-color: rgb(244, 52, 52);
}

.threeDot {
    height: 20px; 
    position: absolute; 
    right: 5px;
    top:7px;
    cursor: pointer;
}